*{
  padding: 0;
  margin: 0;
}

.form{
  background-color: rgb(241, 241, 241);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
}

.form img{
  width: 70%;
  margin-bottom: 20px;
}

form{
  /* background-color: rgb(134, 21, 55); */
  background-color: #263c64;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

form h2{
  font-weight: bolder;
  font-size: 3em;
  margin-left: 10px;
  margin-bottom: 20px;
}

label{
  display: block;
  margin: 10px auto;
  font-size: 1.5em;
  text-align: left;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input{
  width: 60%;
  padding: 10px;
  /* margin-bottom: 15px; */
  margin: 15px auto;
  border: none;
  border-radius: 10px;
  
}

form p{
  margin-bottom: 20px;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3em;
  color: rgb(255, 0, 0);
  text-align: center;
}

button{
  width: 50%;
  margin: 0 auto;
  background-color: #4caf50;
  color: white;
  font-weight: bolder;
  font-size: 1.5em;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover{
  background-color: rgb(233, 236, 44);
  color: black;
}
